.App {
    text-align: center;
}

h1 {
    font-size: 56px;
    color: rgba(210, 210, 10);
    text-decoration: underline;
}

.player-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player div {
    font-size: 40px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.controls button {
    border: 2px solid rgba(0, 160, 255);
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    background-color: rgba(0, 100, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.controls button:hover {
    cursor: pointer;
    background-color: rgba(0, 160, 255);
    box-shadow: rgba(0, 160, 255, 0.25) 0px 54px 55px,
        rgba(0, 160, 255, 0.12) 0px -12px 30px, rgba(0, 160, 255, 0.12) 0px 4px 6px,
        rgba(0, 160, 255, 0.17) 0px 12px 13px, rgba(0, 160, 255, 0.09) 0px -3px 5px;
}

.controls button span {
    font-size: 40px;
}

.winner {
    font-size: 42px;
    color: rgba(0, 255, 0);
}
